@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --canela: #D2B48C;
  --carbon: #343A40;
  --blanco: #FFFFFF;
  --barniz: #E67E22;
  --texto-suave: #555555;
}


/* Generales */
body{
    font-family: "Roboto Slab", serif;
    background-color: var(--blanco);
    color: var(--texto-suave);
    overflow-x: hidden;
}


/* Títulos*/
h1, h2, h3, h4, h5{
    color: var(--carbon);
    font-weight: 700;
}


/* NavBar */
nav{
    background-color: var(--carbon);
}


.navbar .navbar-brand, .navbar .nav-link{
    color: var(--canela);
}


.navbar .nav-link:hover {
    color: var(--barniz);
}


/* Header */
header{
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

header p{
    color: var(--barniz);
}


.contacto a{
    text-decoration: none;
    color: var(--carbon);
    transition: color 0.3s;
}


.contacto a:hover {
    color: var(--barniz);
}


/* Cards Habilidades, Experiencia, Estudios, Proyectos */
.card{
    transition: all 0.3s ease;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 12px;
}


.card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-color: var(--canela);
}


/* Proyectos */
#proyectos a{
    text-decoration: none;
    color: inherit;
}

#proyectos .card-img-top{
    width: 100%;
    object-fit: cover;


}

/* Footer */
footer{
    background-color: var(--carbon);
    color: var(--blanco);
}

/* Media Queries, para resoluciones mayores*/
/* tablets y laptops */
@media (min-width: 992px) {
    html {
        font-size: 1.1rem;
    }
    .card-img-top {
        height: 250px;
    }
}


/*monitores grandes*/
@media (min-width: 1400px) {
    html {
        font-size: 1.3rem;
    }
    .container {
        max-width: 1320px;
    }
    .card-img-top {
        height: 280px;
    }
}